@using AyleesAngels.Shared.Models

<div class="post-preview">
    <NavLink href="@($"viewpost/{blogPost.Id}")">
        @if (!string.IsNullOrEmpty(blogPost.PostImage))
        {
            <Image ImageUrl="@blogPost.PostImage"/>
          
        }
        <h3 class="post-title">
            @blogPost.Title
        </h3>
    </NavLink>
        <p class="post-subtitle">
            @blogPost.Post
        </p>
   
    <p class="post-meta">
        Posted by
        <NavLink href="/">@blogPost.Author</NavLink>
        on @blogPost.Posted.ToString("MM/dd/yyyy h:m tt")
    </p>
</div>

@code {

    [Parameter]
    public BlogPost blogPost { get; set; }

}
